# Build
bin/
obj/
out/
*.user
*.suo
*.userosscache
*.sln.docstates

# VS
.vs/
*.VC.db
*.VC.VC.opendb

# Logs
*.log

# Publish output
publish/
**/wwwroot/dist/

# Node (nếu có)
node_modules/

# Secrets
*.Secrets.json
appsettings.*.Local.json

# SQLite DB (rất quan trọng)
*.db
*.sqlite
*.sqlite3
